

# Ignore virtual environment
.venv/
env/
ENV/
venv/

# Ignore .DS_Store (macOS-specific system file)
.DS_Store

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore instance folder (can contain sensitive data like config or database)
instance/

# Ignore logs
*.log

# Ignore SQLite database (if you're using SQLite for development)
*.sqlite3

# Ignore coverage reports (if you use testing coverage tools)
.coverage
*.cover
*.py,cover

# Ignore IDE/editor specific files
.idea/
.vscode/
*.swp
